[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==1.2.0"
pymongo = "*"
flask = "*"
gunicorn = "*"
meinheld = "*"
facebook-sdk = "*"
imgkit = "*"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
